.slick-dots {
  display: flex;
  position: absolute;
  top: -4%;
  transform: translateY(-50%);

  li.slick-active button{
    background: linear-gradient(135deg, #D3DCE0 0%, #F0F3F5 100%);
    box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.7), 3px 3px 12px rgba(96, 117, 128, 0.2);
    font-weight: bold ;
    color: rgba(0, 0, 0, 1);
  }

  li button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    left: 40px;
    border-radius: 3px;
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.75);


  }


}
