.feedback-box__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.875em;
}

.feedback-box__item {
  max-width: 48%;
  width: 100%;
}

.feedback-box__top {
  display: flex;
  margin-bottom: 0.75em;
}

.feedback-box__image {
  max-width: 10em;
  width: 100%;
  margin-right: 1.875em;
}

.feedback-info__top {
  display: flex;
  align-items: center;
  margin-bottom: 0.5625em;

  h2 {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 100%;
    color: $color-text--black;
  }

  span {
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 100%;
    color: #000000;
    margin-left: 0.75em;
  }
}

.feedback-info {
  max-width: 15.9375em;
  width: 100%;
}

.feedback-info__wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback-info__right {
  position: relative;
  z-index: 0;
}

.feedback-info__right a {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #f0f0f0 0%, #f7f7f7 100%);
  box-shadow: -4px -4px 12px #ffffff, 4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  position: relative;

  &::before {
    top: -2px;
    bottom: -2px;
    right: -2px;
    left: -2px;
    content: '';
    position: absolute;
    z-index: -1;
    background: linear-gradient(135deg, #F0F0F0 0%, #F7F7F7 100%);
    box-shadow: -4px -4px 12px #FFFFFF, 4px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

}

.star-descr {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 100%;
  color: $color-text--black;
}

.feedback-info__text {
  overflow: hidden;
  position: relative;
  height: 5.2em;

  &:after {
    content: "";
    display: block;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 1) 90.71%);
  }

  p {
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 120%;
    color: $color-text--black;
  }
}

.show-more {
  font-family: $font-family--alt;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 120%;
  text-decoration-line: underline;
  color: $color-text--black;
}

.feedback-box__bottom {

  h3 {
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75em;
    line-height: 100%;
    color: $color-text--black;
  }

  p {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 115%;
    color: $color-text--black;

    b {
      font-weight: 900;
    }
  }
}

.view-more {
  margin: 0 auto;
  max-width: 21.875em;
  width: 100%;
  height: 2.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(91.47deg, #F0F0F0 0%, #F7F7F7 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: -3px -3px 12px #FFFFFF, 3px 3px 12px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-family: $font-family--alt;

  svg {
    fill: #000;
    margin-left: 0.5em;
  }
}
