.fifth-sec {
  padding: 2.75em 0 4.5em;
  background: $sec--fifth;
}

.hard-slider {
  background: #F2F2F2;
  box-shadow: -6px -6px 24px #FFFFFF, 6px 6px 24px rgba(0, 0, 0, 0.1);

  .container-slider {
    padding: 1.5em 1.5em 2.25em;
  }
}

.slider-wrapper--fifth {

  .slider-arrows {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    z-index: 20;
    border-radius: 50%;
    top: 50%;
    background: linear-gradient(135deg, #FAFAFA 0%, #E8E8E8 100%);
    box-shadow: -3px -3px 12px #FFFFFF, 3px 3px 12px rgba(0, 0, 0, 0.12);


    span {
      transition: all .4s;
      width: 2.2em;
      height: 2.2em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(135deg, #EDEDED 0%, #F7F7F7 100%);
    }

    &:hover {
      background: linear-gradient(135deg, #EDEDED 0%, #F7F7F7 100%);
      box-shadow: -3px -3px 12px #FFFFFF, 3px 3px 12px rgba(0, 0, 0, 0.12);

      span {
        background: linear-gradient(135deg, #F0F0F0 0%, #F7F7F7 100%);
        box-shadow: inset -4px -4px 8px #FFFFFF, inset 4px 4px 8px rgba(0, 0, 0, 0.1);
      }

    }
  }

  .prev-arrow {
    left: -5.875em;
  }

  .next-arrow {
    right: -5.875em;
  }

  .basket-btn--fifth {
    max-width: 12.1875em;
    width: 100%;
    background: linear-gradient(135deg, #F0F0F0 0%, #F7F7F7 100%);
    box-shadow: -4px -4px 12px #FFFFFF,  1px 0px 15px rgba(0, 0, 0, 0.1),-6px -6px 24px #FFFFFF, 6px 6px 24px rgba(0, 0, 0, 0.1);
    color: $color-text--black;
    margin-left: 0.5em;
  }
}
