.fixed-box {
  position: fixed;
  bottom: 2.25em;
  right: 0;
  z-index: 200;
  max-width: 3.75em;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.top-link {
  margin-bottom: -1.25em;
  display: none;
  width: 2.25em;
  height: 2.25em;
  border-radius: 50%;
  background: linear-gradient(135deg, #F2F2F2 0%, #FCFCFC 100%);
  position: relative;
  z-index: 100;


  svg {
    position: absolute;
    top: 50%;
    transform: translate(-50% , -50%);
    left: 50%;
  }

  &:before {
    content: '';
    top: -0.1875em;
    bottom: -0.1875em;
    left: -0.1875em;
    right: -0.1875em;
    box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.05), 3px 3px 12px rgba(0, 0, 0, 0.08);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
  }
}

.fixed-nav__item + .fixed-nav__item {
  margin-top: 0.53em;
}

.fixed-nav__list {
  position: relative;
  z-index: 0;
}

.round-link {
  width: 2.25em;
  height: 2.25em;
  border-radius: 50%;
  background: linear-gradient(135deg, #F2F2F2 0%, #FCFCFC 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  span {
    border-radius: 50%;
    position: absolute;
    width: 1em;
    height: 1em;
    background: #FFBC00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: bold;
    font-size: .75em;
    line-height: 100%;
    color: #000000;
    right: 0.125em;
    top: 0.125em;
  }

  &:before {
    content: '';
    top: -0.1875em;
    bottom: -0.1875em;
    left: -0.1875em;
    right: -0.1875em;
    box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.05), 3px 3px 12px rgba(0, 0, 0, 0.08);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
  }
}

.fixed-nav {
  min-height:11.25em;
  display: flex;
  width: 4.125em;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    bottom: -1em;
    left: -1em;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='66' height='180' viewBox='0 0 66 180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M66 8C66 22.3594 54.3594 34 40 34C25.6406 34 14 45.6406 14 60V104C14 118.359 25.6406 130 40 130C54.3594 130 66 141.641 66 156V8Z' fill='%23F7F7F7'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='84' height='180' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='2' dy='8'/%3E%3CfeGaussianBlur stdDeviation='8'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
}

.fixed-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 8px;
}

