.fixed-box {
  position: fixed;
  bottom: 100px;
  right: 0;
  z-index: 200;
  max-width: 52px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.top-link {
  margin-bottom: -20px;
  display: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: linear-gradient(135deg, #F2F2F2 0%, #FCFCFC 100%);
  box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.05), 3px 3px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 100;


  svg {
    position: absolute;
    top: 50%;
    transform: translate(-50% , -50%);
    left: 50%;
  }
}

.round-link {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: linear-gradient(135deg, #F2F2F2 0%, #FCFCFC 100%);
  box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.05), 3px 3px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  span {
    border-radius: 50%;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FFBC00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    color: #000000;
    right: 2px;
    top: 2px;
  }
}

.fixed-nav {
  min-height: 143px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='148' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52 0a26 26 0 01-26 26A26 26 0 000 52v44a26 26 0 0026 26 26 26 0 0126 26V0z' fill='%23F7F7F7'/%3E%3C/svg%3E");
    content: '';
  }
}

.fixed-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 8px;
}

