
.hover-list {
  display: none;
  position: absolute;
  box-shadow: $header-list;
  background: $header--list;
  border-radius: 0.25em;
  padding: 0.375em 1em 0.5em;
  min-width: 9.5em;
  left: 0;
  z-index: 10;
}

.tel-box {
  position: relative;

  &:hover {
    &:hover a {
      &::before {
        display: none;
      }
      color: $color-text--black;
    }

    .hover-list {
      display: block;
    }
  }

  a {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 100%;
    color: $color-nav--top;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    svg {
      fill: currentColor;
    }
  }
}

.hover-list__item > a {
  svg {
    margin-left: 0.1875em;
  }
}

.info-nav__item > a {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0.625em;
    height: 0.375em;
    width: 0.375em;
    background: #008E41;
    border-radius: 50%;
    content: '';
  }

  svg {

    &:first-child {
      margin-right: 0.125em;
    }

    &:last-child {
      margin-left: 0.1875em;
    }
  }
}

.hover-list__item + .hover-list__item {
  margin-top: 0.625em;
}

.hover-list__button {
  margin: 0.5em -0.25em;

  button {
    width: 100%;
    min-height: 2em;
    background: linear-gradient(91.42deg, #616475 0%, #444757 100%);
    box-shadow: -2px -2px 8px #FFFFFF, 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 100%;
    /* identical to box height, or 12px */
    color: $color-text--white;
  }
}

.hover-list__item span {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75em;
  margin-bottom: 6px;
}

.work-info {
  margin-top: 0.5em;
  padding-top: 0.5em;
  position: relative;

  &::before {
    height: 1px;
    // width: 150%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    top: 0;
    left: -1em;
    right: -1em;
    position: absolute;
  }

  h2 {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 100%;
    color: #008E41;
  }

  span {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    color: $color-text--black;
  }

  p {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: $color-text--black;
    margin-top: 6px;
  }

}

