.main-top {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  z-index: 0;

  h2 {
    font-family: $font-family;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5em;
    line-height: 100%;
    color: $color-main--top;
  }

  .round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5em;
    height: 4.5em;

    border-radius: 50%;
    margin-left: 1em;
    z-index: 0;
    position: relative;

    &:before {
      height: 78%;
      box-shadow: 0px -10px 10px rgba(255, 255, 255, 0.15);
      position: absolute;
      width: 100vw;
      left: 50%;
      content: '';
      z-index: -1;
    }
  }

  span {
    width: 3.5em;
    height: 3.5em;
    background: linear-gradient(135deg, #DAE2E6 0%, #E9EDF0 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:before {
     top: -0.5em;
     left: -0.5em;
     bottom: -0.5em;
     right: -0.5em;
     content: '';
     position: absolute;
     background: linear-gradient(135deg, #F0F3F5 14.68%, #D0D8DB 85.17%);
     box-shadow: -6px -6px 24px rgba(255, 255, 255, 0.8), 6px 6px 24px rgba(96, 117, 128, 0.25);
      z-index: -1;
      border-radius: 50%;
    }

  }
}

//  dark

.main-top--dark  {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;

  h2 {
    color: $color-text--white;
  }

  .round {


    &:before {
      box-shadow: 0px -10px 10px rgba(255, 255, 255, 0.02);
    }
  }

  span {
    background: linear-gradient(135deg, #4E5161 0%, #56596B 100%);

    &:before {
      background: linear-gradient(135deg, #575A6B 14.68%, #4B4E5E 85.17%);
      box-shadow: -6px -6px 24px rgba(255, 255, 255, 0.07), 6px 6px 24px rgba(31, 33, 46, 0.25);
    }
  }

  .more-link a {
    color: $color-text--white;
  }
}

.main-top--light {

  h2 {
    color: $color-text--black;
  }

  .round {

    &:before {
      box-shadow: 0px -10px 10px rgba(255, 255, 255, 0.4);
    }
  }

  span {
    background: linear-gradient(135deg, #F0F0F0 0%, #F7F7F7 100%);


    &::before {
      background: linear-gradient(135deg, #FFFFFF 14.68%, #E6E6E6 85.17%);
      box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 24px rgba(0, 0, 0, 0.1);
    }
  }
}

.more-link {
  position: absolute;
  right: 1.875em;
  top: 50%;
  transform: translateY(-50%);

  a {
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 100%;
    text-align: right;
    text-decoration-line: underline;
    color: $color-text--black;
    transition: all .4s;

    &:hover {
      color: #FFBB00;
    }
  }
}

.top-static {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.1875em;

  h2 {
    color: $color-text--black;
  }

  .round {
    background: linear-gradient(135deg, #FFFFFF 14.68%, #E6E6E6 85.17%);
    box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 24px rgba(0, 0, 0, 0.1);

    &:before {
      box-shadow: 0px -10px 10px rgba(255, 255, 255, 0.4);
    }
  }

  span {
    background: linear-gradient(135deg, #F0F0F0 0%, #F7F7F7 100%);
  }
}

.more-link--double {
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 15;
  top: initial;
  transform: none;
  max-width: 27.8125em;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    svg {
      margin-right: 0.75em;
    }
  }
}

.main-top--frouth {

  h2 {
    color: $color-text--black;
    position: relative;
    padding: 6px 40px 6px 15px;

    &:before {
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='133' height='37' viewBox='0 0 133 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H133V37H0V0Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M111.198 0H133V37H90L111.198 0Z' fill='%23F2F2F2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='0' x2='19.1077' y2='68.6843' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F7B200'/%3E%3Cstop offset='1' stop-color='%23FFD866'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      z-index: -1;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.7), 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
  }

  .round {
    margin-left: -0.8em;

    &:before {
      box-shadow: 0px -10px 10px rgba(255, 255, 255, 0.4);
    }
  }

  span {
    background: linear-gradient(135deg, #FFFFFF 14.68%, #E0E0E0 85.17%);
    box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 24px rgba(0, 0, 0, 0.12);

    &::before {
      display: none;
    }
  }
}



.fifth-sec  .main-top{

  span {
    box-shadow: none;
    background: transparent;

    &::before {
      background: linear-gradient(135deg, #FFFFFF 14.68%, #E6E6E6 85.17%);
      box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 24px rgba(0, 0, 0, 0.1);
    }
  }
}

.sixth-sec  .main-top{

  span {
    background: linear-gradient(135deg, #F0F0F0 0%, #F7F7F7 100%);
    box-shadow: none;

    &::before {
      background: linear-gradient(135deg, #FFFFFF 14.68%, #E6E6E6 85.17%);
      box-shadow: none;
      box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 24px rgba(0, 0, 0, 0.1);
    }
  }
}







