.header-center {
  display: flex;
  flex-direction: column;
  max-width: 35.5em;
  width: 100%;

  // nav + nav {
  //   margin-top: 1.5625em;
  // }
  justify-content: space-between;
  height: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav__item {
  display: flex;
  align-items: flex-start;
  a {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 100%;
    color: $color-nav--top;
  }
}

.bottom-nav__item {

  a {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 100%;
    color: $color-text--black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  &--catalog a {
    font-weight: 900;

    svg {
      margin-right: 0.375em;
    }
  }
}

.opacity-item--active {
  opacity: 0;
}

.header-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.info-nav {
  display: flex;
  align-items: center;
}


