.panel-list {
  display: flex;
  align-items: center;

  li {
    margin: 0 1.125em;

    &:last-child {
      margin-right: 0;
    }

    // &:first-child {
    //   padding: 0;
    // }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    .svg-active {
      display: none;
    }
  }

  li:hover {
    svg {
      fill: #E5A900;
    }
  }
}

.form-item {
  position: relative;
  min-width: 18px;

  .panel-list__form a:hover {
    svg {
      fill: #E5A900;
    }
  }

  &--active {


    .panel-list__form {
      width: 12.5em;
      right: 0;
      bottom: -50%;
      max-width: 12.5em;
      height: 2.25em;
      right: -1.128em;
      transform: translate(0, 50%);

      a {
        position: absolute;
        right: 1.125em;
        bottom: 50%;
        transform: translateY(50%);
      }
    }

    .panel-list__form input {
      width: 100%;
      // transition: .4s;
      opacity: 1;
      background: #F7F7F7;
      box-shadow: inset 3px 3px 12px rgba(0, 0, 0, 0.1);
      padding: 0 1.125em;
    }
  }
}

.panel-list__form {
  display: flex;
  position: absolute;
  bottom: -50%;
  max-width: 12.5em;
  height: 2.25em;
  right: 50%;
  transform: translate(50%, 50%);

  input {
    width: 0;
    height: 100%;
    opacity: 0;
    border: none;
    border-radius: 48px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.heart-active {

  svg {
    display: none;
  }

  .svg-active {
    display: block !important;
  }
}
