.solo-position {
  max-width: 16.9375em;
}

.slide-bottom__item {

  &:first-child {
    flex-shrink: 0;
  }

  &:last-child {
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    a + a {
      margin-left: 1.6em;
    }
  }
}

.solo-position__img {
  position: relative;

  padding: 0.625em;

  background: #e1e8eb;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: -6px -6px 24px rgba(255, 255, 255, 0.7), 6px 6px 24px rgba(96, 117, 128, 0.2);

  span {
    position: absolute;
    top: 0.625em;
    left: 0.625em;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    font-family: $font-family;
    color: $color-text--black;
  }
}

.solo-position__descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.8em;
  padding-top: 5px;

  h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 130%;
    font-family: $font-family;
    color: $color-text--black;
    max-width: 55%;
  }
}

.main-price {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  font-family: $font-family;
  color: $color-text--black;
  background: linear-gradient(135deg, #D3DCE0 0%, #F0F3F5 100%);
  box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.7), 3px 3px 12px rgba(96, 117, 128, 0.2);
  border-radius: 3px;
  width: 5.5em;
  height: 2.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-position {
  max-width: 10em;
  width: 100%;
}

.mini-position__top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.25em;

  p {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 100%;
    color: $color-text--black;
  }

  span {
    background: linear-gradient(135deg, #D3DCE0 0%, #F0F3F5 100%);
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.7), 2px 2px 8px rgba(96, 117, 128, 0.2);
    border-radius: 2px;
    width: 3.875em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 100%;
    color: $color-text--black;
  }
}

.mini-position__imaage {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E1E8EB;
  box-shadow: -6px -6px 24px rgba(255, 255, 255, 0.7), 6px 6px 24px rgba(96, 117, 128, 0.2);
  border-radius: 4px;
  margin-bottom: 0.75em;

  img {
    width: 100%;
  }
}

.mini-position__title {
  margin-bottom: 0.5em;

  h2 {
    font-family: $font-family;
    font-style: normal;
    font-weight: 800;
    font-size: 1em;
    line-height: 130%;
    text-align: center;
    color: $color-text--black;
  }
}

.mini-position__price {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .main-price {
    width: 5.25em;
    background: linear-gradient(135deg, #F7B200 0%, #FFD866 100%);
  }
}

.mini-old {
  position: initial;
  font-size: 1em;
  transform: none;
}


