.select {
  position: relative;

  svg {
    fill: #808080;
  }

  .select__current {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 100%;

    color: #808080;
  }

  &:hover {
    .select__header, .select__current {
      color: #E5A900 !important;
    }

    svg {
      fill: #E5A900;
    }
  }

  .select__header, .select__icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .select__current {
    margin: 0 0.1875em;
  }

  .select__body {
    box-shadow: $header-list;
    background: $header--list;
    border-radius: 0.25em;

    ul {
      padding: 0.375em 0;
    }

    li {
      display: flex;
      cursor: pointer;
      justify-content: center;
      font-family: $font-family;
      font-style: normal;
      font-weight: 600;
      font-size: 0.75em;
      line-height: 100%;

      color: #808080;

      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }
}

.info-nav__child + .info-nav__child {
  margin-left: 0.625em;
}


