.star-box {
  display: flex;
  align-items: center;
  margin-bottom: 0.75em;

  span {
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 100%;
    color: $color-text--white;
    margin-left: 0.5em;
  }
}

.star-box__item {
  font-family: $font-family--alt;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 100%;
  color: #FFBC00;
  display: flex;
  align-items: center;

  svg {
    margin-left: 0.3125em;
  }
}

.stars-list {
  display: flex;
}
