.top-sliders__left {
  display: flex;
  align-items: center;
}

.top-sliders {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 4.25em;

  h2 {
    color: $color-text--black;
  }

  .round {

    &:before {
      box-shadow: 0px -10px 10px rgba(255, 255, 255, 0.4);
    }
  }

  span {
    background: linear-gradient(135deg, #FFFFFF 14.68%, #E0E0E0 85.17%);
    box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 24px rgba(0, 0, 0, 0.12);
  }
}

.nav-box {

  &:before {
    width: 100%;
    height: 1.5em;
    background: #EDEDED;
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    position: absolute;
    content: '';
    top: 0.85em;
  }
}

.slider-nav {
  position: absolute;
  right: 5.9375em;
  transform: translateY(10%);
  z-index: 15;
  max-width: 29.6875em;
  width: 100%;

  &--long {
    max-width: 35.625em;
  }
}

.nav-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  max-width: 5.9375em;
  width: 100%;
  text-align: center;
  min-height: 0;
  padding: 0.5em 0;

  p {
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 120%;
    color: #808080;
    transition: all .4s;
  }
}

.nav-slide__dots{
  font-family: $font-family--alt;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 100%;
  color: #808080;
  margin-bottom: 0.375em;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: transparent;
  transition: all .2s;
}


.nav-slide.slick-current {
  .nav-slide__dots {
    background: linear-gradient(135deg, #EDEDED 0%, #F7F7F7 100%);
    box-shadow: -3px -3px 12px #FFFFFF, 3px 3px 12px rgba(0, 0, 0, 0.08);
    color: $color-text--black;
    font-weight: bold;
  }

  p {
    color: $color-text--black;
    font-weight: bold;
  }
}

.nav-arrows {
  position: absolute;
  top: 16%;

  svg {
    fill: rgba(0, 0, 0, 0.2);
  }

  &:hover {
    svg {
      fill: #000;
    }
  }
}

.prev-nav {
  left: -3em;
}

.next-nav {
  right: -3em;
}
