
@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/mobile-menu.scss";
@import "blocks/hover-list.scss";
@import "blocks/dots.scss";
@import "blocks/main-top.scss";
@import "blocks/main-slider.scss";
@import "blocks/position.scss";
@import "blocks/plus-btn.scss";
@import "blocks/button-wrapp.scss";
@import "blocks/panel-list.scss";
@import "blocks/icons-list.scss";
@import "blocks/star-box.scss";
@import "blocks/catalog-box.scss";
@import "blocks/feedback-box.scss";
@import "blocks/select.scss";
@import "blocks/nav.scss";
@import "blocks/top-sliders.scss";
@import "blocks/first-sec.scss";
@import "blocks/second-sec.scss";
@import "blocks/third-sec.scss";
@import "blocks/frouth-sec.scss";
@import "blocks/fifth-sec.scss";
@import "blocks/sixth-sec.scss";
@import "blocks/fixed-box.scss";
@import "blocks/html-mode.scss";
@import "blocks/stock-body.scss";
@import "blocks/hover.scss";
@import "blocks/value.scss";
@import "blocks/media.scss";

