body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  font-family: "Gilroy";
  color: #000000;
  background-color: #E5E5E5;
  overflow-x: hidden;
}

html, section {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.panel {
  z-index: 20;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.select__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  z-index: 20;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
}

.select.is-active .select__body {
  max-height: 500px;
  height: auto;
}

.select.is-active {
  .select__icon svg {
    transform: scaleY(-1);
  }
}

.container {
  width: 100%;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 0.625em;
  
}

.container-fluid {
  width: 100%;
  max-width: 58em;
  position: relative;
  margin: 0 auto;

  &--mode {
    max-width: 62em;
  }
}







