/* -- Fonts --*/
$font-family: "Gilroy", sans-serif;
$font-family--alt: "PT Root UI", sans-serif;
/* -- Colors --*/

/* -- Headers --*/
$color-header: #242446;
$color-header--top: linear-gradient(91.42deg, #74798C 0%, #303240 100%);

/* -- Text --*/
$color-text: #242446;
$color-text--white: #ffffff;
$color-text--blue: #0364ff;
$color-text--black: #000000;
$color-nav--top: #808080;
$color-main--top: #525566;


/* -- Menu --*/
// $color-menu: #111111;
// $color-menu--hover: rgba(17, 17, 17, 0.6);
// $color-menu--active: rgba(17, 17, 17, 0.3);
// $color-menu-alt: #ffffff;
// $color-menu-alt--hover: rgba(255, 255, 255, 0.6);
// $color-menu-alt--active: rgba(255, 255, 255, 0.3);

/* -- Backgrounds --*/
$header--top: linear-gradient(91.42deg, #74798C 0%, #303240 100%);;
$bg--header: #FCFCFC;
$header--list: #FCFCFC;
$sec--first: #E1E8EB;
$sec--second: #525566;
$sec--third: #F2F2F2;




/* -- Buttons --*/
$color-btn: #0364ff;
$tabs-color: #e9edfe;


/* -- Buttons-hover --*/

$hover-btn: rgb(1, 45, 95);

/* -- Buttons-hover-text --*/

$bg-btn: #ffffff;

// /* -- Main shadow --*/
$header-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
$header-list: 0 6px 8px rgba(0, 0, 0, 0.05);

/* -- Borders --*/
$color-border:#0364ff;
// $play-border: #01499b;
// $white-border: #ffffff;
// $calendar-border: #27aae1;
// $world-border: #f5483a;
